<p class="right-align">
    author:
    <strong><%= author%></strong>
</p>
<h1><%= bookName %></h1>
<h3><%= chapter%></h3>
<div class="page-content">
    <% _.each(page.paragraphs, function(paragraph){%>
    <p><%=paragraph%></p>
    <% }) %>
    <ul class="pagination center-align">
        <% for(var i = 1; i <= pages; i++){%>
        <li <% if (page.number == i){ %> class="active"> <% } else { %> class="waves-effect"> <% } %>
            <a class="page" href="#<%= i %>" data-page="<%= i %>">
                <%= i %>
            </a>
        </li>
        <% } %>
    </ul>
</div>